{% extends "base.html" %}

{% block title %}marker_change_list.html{% endblock %}

{% block content %}

<h1>Bookmark Change - {{user}}</h1>
<br>

<table class="table">
  <thead class="table-light">
    <tr>
  <td class="table-primary">Title</td>
  <td class="table-secondary">Url</td>
  <td class="table-success">Owner</td>
  <td class="table-danger">Update</td>
  <td class="table-warning">Delete</td>
    </tr>

  </thead>
  <tbody>
    {% for item in object_list %}
  <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.url }}</td>
      <td>{{ item.owner }}</td>
      <td><a href="{% url 'marker:update' item.id %}">Update</a></td>
      <td><a href="{% url 'marker:delete' item.id %}">Delete</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}